:root {
  --color-primary-white: #fff;
  --color--primary-black-covid: #1d1f21;
  --color--primary-green: #15ab39;
  --color--primary-yellow: #ffd300;
  --color--primary-red: #f52603;
  --image: url(../img/covid-19.jpg);

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px ,10/16px = 62.5%
}

.main {
  display: flex;
  flex-direction: column;
}

.main-confirmed {
  margin-top: 3rem !important;
}

.header-main {
  display: flex;
  justify-content: center;
  height: 80vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(111, 213, 203, 0.167),
      hsla(160, 51%, 45%, 0.681)
    ),
    var(--image);

  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.menu-header {
  font-size: 1.2rem !important;
}
.cardd {
  margin-top: 5rem;
}
.card-main {
  display: flex;
  justify-content: center;
  text-transform: uppercase !important;
  h1.ui.header {
    text-transform: uppercase;
  }
}

.button-way {
  margin-bottom: 2rem !important;
}

.center {
  display: flex;
  align-items: center;
}

.medkit {
  &__icon__confirmed {
    color: var(--color--primary-yellow);
    font-size: 3rem !important;
  }
  &__icon__recovered {
    color: var(--color--primary-green);
    font-size: 3rem !important;
  }
  &__icon__deaths {
    color: var(--color--primary-red);
    font-size: 3rem !important;
  }
}

.footer-main {
  padding: 9rem;
  text-align: center;
  margin-top: 5rem;
  background-color: var(--color--primary-black-covid);

  &__text {
    color: var(--color-primary-white) !important;
  }
}

.lightText {
  font-weight: 200 !important;
}

.lowerSpace {
  margin-bottom: 1rem;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.visible.transition {
  display: none !important;
}
.searchBar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
